body {
	background: url(https://i.ytimg.com/vi/NJQnzmH6jgc/maxresdefault.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	color: rgba(255,255,255,0.7);;
	border: purple solid 2px;
}
h4 {
	background: rgb(255,0,0);
}
li {
	color: purple;
}

/*About Css Hexadecimal - base 16

	0,1,2,3,4,5,6,7,8,9,A,B,C,D,E,F
	# _ _ 	 _ _ 	 _ _ 
	#(red) (green) (blue)
	red: #FF0000;

/*About RGB
	0 - 255
	rgb(  _ ,    _ ,     _ )
		(red) (green) (blue)
	red: rgb(255,0,0);

/*About RGBA
	0 - 255 / 0.0 - 1.0
	rgb(  _ ,    _ ,     _ ,     _    ) 
		(red) (green) (blue)   (alpha)

/*
obs.1: I dont need tag style in style file;

obs.2: For Borders is needed:
color - width - style



*/