body {
	background: url(https://images.unsplash.com/photo-1456796148441-485386946471);
	background-size: cover;
	background-position: center;
	color: rgba(255,255,255,0.9);
	font-family: lato;
}

html {
	height: 100%;
}

#content {
	text-align: center;
	margin-top: -5%;
}

h1 {
	font-weight: 700;
	font-size: 5em;
}

hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: rgba(0,0,0,0.2);
}