body {
	background-color: #333;
}

.box {
	background: white;
	width: 150px;
	height: 150px;
	position: relative;
	margin: auto;
	top: 200px;
	/*transition-property: background, border-radius, transform;*/
	transition-property: all;
	transition-duration: 0.3s; /*second parameter matches transition property*/
	transition-delay: 0.1s, 4s;
	transition-timing-function: ease-in-out;
}

.box:hover{
	background: yellow;
	border-radius: 50%;
	transform: rotateY(180deg);
}