body {
    background-color: #232323;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}

.square {
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
}

#container{
    margin: 0 auto;
    max-width: 600px;
}

h1 {
    padding: 20px 0;
    text-align: center;
    color:white;
    line-height: 1.1;
    background: steelblue;
    margin: 0;
    text-transform: uppercase;
}

#stripe {
    background:white;
    height: 30px;
    text-align: center;
}

.selected {
    background: blue;
}

#colorDisplay {
    font-size: 200%;
}

button {
    text-transform: uppercase;
    border: none;
    background: none;
}