<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Love.ejs file</title>
    </head>
    <body>
        <h1>You fell in love with: <%= thingVar %> and <%= idVar %></h1>
        <p>P.S. this is the love.ejs file</p>
    </body>
</html>