<% include partials/header %>

<h1>teste</h1>

<form action='/campgrounds' method="POST">
    <input class='form-control' type="text" name="name" placeholder="name">
    <input class='form-control' type="text" name="image" placeholder="image url">
    <button class="btn btn-lg btn-default">Create!</button>
</form>

<a href="/campgrounds">Go back</a>

<% include partials/footer %>